@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

html, body {
  font-family: 'Inter', sans-serif;
  margin: 0 !important;
  padding: 0 !important;
  background: #fefefe;
}

.container {
  @apply m-auto max-w-screen-xl p-4
}

.percentage-off{
  /* font-family: 'Rubik Wet Paint', cursive; */
  font-family: 'ADLaM Display', cursive;
  font-size: 4rem;
  color: white;
}

/* font-family: 'Merriweather', serif; */

.percentage-sub{
  font-family: 'Merriweather', serif;
  font-size: 1.5rem;
  color: white;
}

/* .bounce-div {
  width: 100px;
  height: 100px;
  background-color: black;
  animation: bounce 1s infinite;
} */

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.video-background {
  position: relative;
  width: 100%;
  height: 100vh; /* Set a specific height for the div */
  overflow: hidden;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
}

video {
  position: absolute;
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mission-img{
  height: 30rem;
  width: 100%;
}

.mission-bg{
  background-color: #92722f;
}

.goal-bg{
  background-color: #2D3748;
}

.vision-bg{
  background-color: #807e7e;
}

.home-banner{
  opacity: 1;
  background: url('./assets/home_banner.mov');
  height: 100vh;
}

.mission-header{
  font-size: 5rem;
  color: #76957e;
  text-align: center;
  line-height: 8rem;
  font-weight: 500;
  font-family: 'Merriweather', serif;
}

.mission-subs{
  font-size: 2rem;
  color: black;
  text-align: center;
  line-height: 2.3rem;
  font-weight: 400;
  /* font-family: 'Inter', sans-serif; */
  font-family: 'Merriweather', serif;
}

.contact-us-header{
  font-size: 5rem;
  color: black;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Patua One', cursive;
}

.contact-div{
  border-radius: 0.5rem;
  background-color: #ffffff52;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50rem;
  margin: auto;
  padding: 1rem;
}

.contact-text{
  font-size: 2rem;
  color: black;
  /* width: 80%; */
  text-align: center;
  line-height: 2.3rem;
  font-weight: 400;
  font-family: 'Merriweather', serif;
}

.email-button{
  border: 2px solid black;
  padding: 0.8rem 2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 8px 40px 0px #161616c9;
}

.spinner-position-alt{
  margin: auto !important;
}

.spinner-position{
  margin: 10rem auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.email-text-box{
  width: 70%;
  height: 3rem;
  padding: 1rem;
  background: #ffffff4f;
  border-radius: 0.5rem;
}

.email-text-box:hover{
  outline: none !important;
}

.email-text-box:focus{
  outline: none !important;
}

.contact-h{
  height: auto;
}

.home-banner-header{
  font-size: 10rem;
  color: #fff;
  /* color: #313131; */
  width: 60rem;
  text-align: center;
  line-height: 11rem;
  font-weight: 500;
  font-family: 'Merriweather', serif;
}

div.nav-card {
  box-shadow: 0px 8px 40px 0px rgba(225, 230, 236, 0.60);
  text-align: center;
  border-radius: 25px;
  padding: 8px 10px;
  background: white;
}

.social-icons-bg{
  display: inline-flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 6.25rem;
  background: #F9FBFC
}

.nav-bar-text{
  font-size: 1.2rem;
  color: #414A5B;
  font-weight: 500;
  font-family: 'Merriweather', serif;
}

.box-sh{
  box-shadow: 0px 8px 40px 0px rgba(225, 230, 236, 0.60);
}

.button-main{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  width: 13.75rem;
  height: 3.5rem;
  background: linear-gradient(180deg, #634e31 0%, #76957e 100%);
  border: 2px solid #76957e;
}

.contact-us-gradient{
  background: linear-gradient(49deg, #fff 0%, #76957e 100%);
}

.button-text {
  text-align: center;
  color: #FFF;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.375rem;
  font-family: 'Merriweather', serif;
  text-transform: uppercase;
}

.button-text-alt{
  color: black !important;
}

.button-main-alt{
  border: 2px solid black;
  background: white !important
}

.button-main-alt-1{
  border: 2px solid black;
  background: #76957e !important;
  box-shadow: 0px 5px 5px 0px rgb(0 0 0 / 60%);
}

.button-main-alt-2{
  background: #000000 !important;
  border: 2px solid #000000 !important;
  box-shadow: 0px 5px 5px 0px rgb(0 0 0 / 60%);
}

.conbg {
  width: 100%;
  height: 500px;
}
.bg2 {
  z-index: 2;
  position: relative;
  width: 70%;
  margin: 100px auto;
  transform: rotate(10deg);
  background-image: url('./assets/main_img.jpeg');
  background-size: cover;
  background-position: right -50px;
  background-color: lightslategray;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
}
.bg1 {
  z-index: 3;
  position: relative;
  margin: auto;
  transform: rotate(-5deg);
  background-image: url('./assets/main_img.jpeg');
  background-size: cover;
  background-position: right -25rem;
  background-color: lightslategray;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
}
.bg {
  z-index: 4;
  position: relative;
  margin: auto;
  transform: rotate(-5deg);
  height: 500px;
  background-image: url('./assets/main_img.jpeg');
  background-size: cover;
  background-position: right -15rem;
  background-color: lightslategray;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
}

.bg-text-header{
  font-size: 2rem;
  text-transform: uppercase;
}

.bg-text {
  width: 100%;
  position: absolute;
  display: inline-block;
  bottom: 0;
  color: white;
  left: 2rem;
  font-family: 'Merriweather', serif;

}
.bg-text a {
  margin: 5px;
  float: right;
}

#bg1:target .bg {
  animation: ciut 1s forwards;
}
#bg1:target {
  animation: fre 0.3s forwards;
}
#bg2:target .bg1 {
  animation: ciut 1s forwards;
}
#bg2:target {
  animation: fre1 0.3s forwards;
}
#conbg:target .bg2 {
  animation: ciut1 1s;
}
@keyframes fre1 {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes fre {
  0% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
@keyframes ciut {
  0% {
    opacity: 1;
    transform: rotate(-5deg) scale(1);
  }
  100% {
    opacity: 0;
    transform: rotate(360deg) scale(0);
  }
}
@keyframes ciut1 {
  0% {
    opacity: 0;
    transform: rotate(0deg) scale(0);
  }
  100% {
    opacity: 1;
    transform: rotate(370deg) scale(1);
  }
}

.mission-div{
  background-color: white;
  box-shadow: 5px 15px 15px -5px rgb(0 0 0 / 44%);
  padding: 4rem;
}

.mission-div-video{
  width: 30rem;
  height: inherit;
  border-radius: 1rem;
  box-shadow: 0 6px 15px rgb(0 0 0 / 44%);
}

.mission-div-sub{
  height: 40rem;
}

.ribbon-wrapper {
  animation: bounce 1s infinite;
  border-radius: 0.5rem;
  display: block;
  position: relative;
  padding: 1rem 2rem;
  background: #000;
  font-size: 14px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.14);
  box-sizing: border-box;
}

.ribbon-content {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 89px;
  height: 91px;
  overflow: hidden;
  }

.ribbon {
  display: inline-block;
  position: absolute;
  padding: 7px 0;
  left: -23px;
  top: 22px;
  width: 160px;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  background: linear-gradient(to right, #000 0%,#76957e 100%);
  color: #fff;
  text-shadow: 0 2px 2px #090909;
  letter-spacing: 0.05em;
  transform: rotate(45deg);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.ribbon::before, .ribbon::after {
  position: absolute;
  content: "";
  border-top: 4px solid #3672b6;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  bottom: -4px;
}

.ribbon::before {
  left: 14px;
}

.ribbon::after {
  right: 18px;
}

.white-label{
  color: #fff;
}

.gradLine3{
  width: 50%;
  margin: 5rem auto 0 auto;
  display: block;
  border: none;
  height: 5px;
  background: #090909;
  background: linear-gradient(to right, white, #090909, #90988c, #76957e, white);
}

.mob-menu-bg{
  padding: 0.5rem 1rem;
  border-radius: 6.25rem;
  background: #FFF;
  box-shadow: 0px 8px 40px 0px rgba(225, 230, 236, 0.60);
}

.mob-menu-bg-sub{
  display: flex;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 6.25rem;
  background: #F5F8FA;
}

@media screen and (max-width: 768px) {
  .home-banner-header{
    font-size: 4rem;
    line-height: 5rem;
    width: auto;
  }

  .contact-h{
    height: auto;
  }

  .contact-div{
    width: auto;
    align-items: flex-start;
  }

  .contact-text{
    font-size: 1.45rem;
    text-align: left;
  }

  .mission-div-sub{
    height: 20rem;
  }
  
  .contact-us-header{
    font-size: 3rem;
    line-height: 4rem;
  }

  .mission-div-video{
    width: 80%;
  }

  .mission-header{
    font-size: 4rem;
    line-height: 4rem;
  }

  .mission-div{
    padding: 1rem;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .mission-div-video{
    width: 80%;
  }

  .home-banner-header{
    width: auto;
    line-height: 10rem;
  }

  .contact-div{
    width: auto;
  }
}